{% extends "base.html" %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h1>🍽️ Food Choice Analytics</h1>

        <h2>Create Account</h2>

        <p>

            Register to access Tableau dashboards and project insights.

        </p>

        <form method="POST" action="{{ url_for('register') }}">

            <label>Username</label>

            <input
                type="text"
                name="username"
                placeholder="Choose Username"
                required
            >

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Create Password"
                required
            >

            <button type="submit">

                Register

            </button>

        </form>

        <p class="bottom-text">

            Already have an account?

            <a href="{{ url_for('login') }}">

                Login

            </a>

        </p>

    </div>

</div>

{% endblock %}
